#container {
    position:absolute;
	width:1200px;
	height:600px;
	border:2px solid #000000;
    perspective:1000px;
    overflow:hidden;
}

#ground {
    width: 600px;
    height: 600px;
    background: linear-gradient(to top, #b557ad, #9842f5);
    /* transform: rotateX(45deg); */
    transform-style: preserve-3d;
}

#player {
    width: 25px;
    height: 60px;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(201, 165, 89);
    transform: translate3d(600px, 300px, 0px)
}

#tree {
    width: 15px;
    height: 70px;
    background-color: #0a4e19;
}